* {
    margin: 0;
    padding: 0;
}

.right {
    width: 400px;
    border: 2px solid #666;
    margin: 30px auto;
    padding: 10px;
}

.boxA {
    background-color: #abd2ae;
    font: 12px Arial, Helvetica, sans-serif;
    text-align: justify;
}

.boxA .header {
    padding: 0px 31px;
    font: italic bold 24px/47px Arial, Helvetica, sans-serif;   /* font-size/line-height */
}

.boxA .line {
    height: 1px;
    background-color: white;
}
.boxA .content {
    padding: 11px;
}